
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5 pt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-4 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Useful Resources
                        </h6>
                        <p>
                            Most of the information in this tutorial site was taken from 3 sources listed to the right.
                            This was supplimented with information found in StackOverflow answers as well as blogs found
                            during specific Google searches.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="https://www.typescriptlang.org/docs/handbook/2/modules.html" 
                                target="_blank"
                                class="text-reset">
                                The TypeScript Handbook</a>
                        </p>
                        <p>
                            <a href="https://www.oreilly.com/library/view/programming-typescript/9781492037644/ch04.html"
                                target="_blank"
                                class="text-reset">Programming Typescript</a>
                        </p>
                        <p>
                            <a href="https://www.tutorialspoint.com/typescript/typescript_modules.htm" 
                                target="_blank"
                                class="text-reset">Learn TypeScript</a>
                        </p>
                    </div>
                    <!-- Grid column -->


                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <!-- **Note: Having emails in plaintext is not safe since web scrapers will pick them up and spam you with junk -->
                        <p>
                            <i class="fa fa-envelope me-3"></i>
                            <a href="mailto:CFaggard@TalentPath.com" class="text-reset">CFaggard@TalentPath.com</a>
                        </p>
                        <p>
                            <i class="fa fa-envelope me-3"></i>
                            <a href="mailto:JThomas@TalentPath.com" class="text-reset">JThomas@TalentPath.com</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4 fw-bold" style="background-color: rgba(0, 0, 0, 0.05);">
            Made with <span class="heart">♥</span> by Chase &amp; Jacob
        </div>
    </footer>
    <!-- Footer -->